body{
    background-color: #00008B
}
h2{
    font-family: 'Playfair Display SC', serif;
    text-shadow:2px 2px 1px;
}
header{
    font-family: 'Concert One', cursive;
}
section{

}
footer{
    font-family: 'Cormorant Garamond', serif;
}
nav{

}
p{
    font-family: 'Dosis', sans-serif;
}