.startbutton{
    background-color: #4682b4; 
    position: absolute;
    width: 100px; height: 50px;
    color: #ffffff;
    text-align: center;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    top: 495px; left: 20px;
}

.resetbutton{
    background-color: #4682b4;
    position: absolute;
    width: 100px; height: 50px;
    color: #ffffff;
    text-align: center;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    top: 560px; left: 20px;
}