body{
    font-size:34;
    background-image: url(download.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align:center;
}
fieldset{
    widows: 600px;
    margin:auto;
    position:center
}
label{
    width: 15em;
    float:left;
    text-align: right;
    padding-right: 1em;
    position: center;
}

input{
    float:left
}

h1{
    font-family: 'Aleo', serif;
}
output{
    text-align:center;
    font-size: 50em;
    font-family: 'Timmana', sans-serif;
}