body{
    font-size:34;
    background-image: url(download.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
fieldset{
    widows: 600px;
    margin:auto;
}
label{
    width: 15em;
    float:left;
    text-align: right;
    padding-right: 1em;
}

input{
    float:left
}

h1{
    font-family: 'Aleo', serif;
}